<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speedometer</title>
    <link rel="stylesheet" href="static\css\styles.css">

</head>
<body>
    <h1>Speedometer</h1>
    <div class="container">
        <div class="fill" id="bar"></div>
        <div class="speed-text" id="speedText">Speed: 0</div>
    </div>

    <script>
        function fetchLatestEntry() {
            fetch('/latest_entry')
                .then(response => response.json())
                .then(data => {
                    if (data.message) {
                        console.log(data.message);
                    } else {
                        updateSpeedBar(data.speed);
                    }
                })
                .catch(error => console.error('Error fetching latest entry:', error));
        }

        function updateSpeedBar(speed) {
            const speedBar = document.getElementById('bar');
            const speedText = document.getElementById('speedText');

            speedBar.style.width = `${speed}%`;
            speedText.textContent = `Speed: ${speed}`;
        }

        // Fetch latest entry initially
        fetchLatestEntry();

        // Fetch latest entry every 1 second
        setInterval(fetchLatestEntry, 1000);
    </script>
</body>
</html>
